:root {
	--main-radius: 10px;
	--main-padding: 10px;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 0.5fr ;
	grid-template-rows: 0.2fr 2fr 0.3fr;
	grid-template-areas: 
	"nav nav nav"
	"main main sidebar"
	
	"footer footer footer";
	grid-gap: 0.2rem;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #004d40;
	text-align: center;
}

nav {
	background: #a7ffeb;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

main {
	background: #84ffff;
	grid-area: main;

}

#sidebar {
	background: #18ffff;
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

footer {
	background: #1de9b6;
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

.material {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: white;
	align-content: center;
}


polygon {
	stroke:white;
	stroke-width:1;
}

polygon:hover {
	fill:lime;
	stroke:purple;
	stroke-width:1;
}

