:root {
	--main-radius: 10px;
	--main-padding: 10px;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 0.5fr ;
	grid-template-rows: 0.2fr 2fr 0.3fr;
	grid-template-areas: 
	"nav nav nav"
	"main main sidebar"
	
	"footer footer footer";
	grid-gap: 0.2rem;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #004d40;
	text-align: center;
}

nav {
	background: #a7ffeb;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

main {
	background: #84ffff;
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#sidebar {
	background: #18ffff;
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

footer {
	background: #1de9b6;
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

.material {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: white;
	align-content: center;
}

.materialColor {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: white;
	align-content: center;
}


polygon {
	stroke:white;
	stroke-width:1;
}

polygon:hover {
	fill:lime;
	stroke:purple;
	stroke-width: 0.4%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #18ffff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
	border-radius: var(--main-radius);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;
  background-color: #1de9b6;
  color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #1de9b6;
  color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}